*{
    margin: 0;
    padding: 0;
}
.image{
    display: flex;
    justify-content: center;
}

.search{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.boxes{
    width: 400px;
}

.use{
    margin-top: 0;
    margin-left: auto;
    margin: auto;
}

.button{
    display: flex;
    flex-direction: row;
    margin-top:0;
}

.button button{
    margin-right: 6px;
    padding: 3px;
}

.link{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.first{
    width: 30%;
    background-color: #7EE5DA;
    margin-right: 3px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.second{
    width: 20%;
    background-color: #70CCC2;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.third{
    width: 40%;
    margin-left: 3px;
    background-color: #62B3AA;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.copy{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}




